<h1>
  Welcome to MyApp!
</h1>

<mat-toolbar>
  <button mat-button color="accent" routerLink="home">Home</button>
  <button mat-button color="accent" style="margin-right: 10px" routerLink="flow">AddPicture</button>
  <button mat-button color="accent" style="margin-right: 10px" routerLink="createflow">CreateFlow</button>
  <button mat-button color="accent" style="margin-right: 10px" routerLink="logg">Logg</button>
  <button mat-button color="accent" style="margin-right: 10px" routerLink="control">Test Control</button>
</mat-toolbar>

<router-outlet></router-outlet>
